In [ ]:
#QUESTION 1

In [1]:
a = "hello"

In [2]:
b = [22, 34 , "pw" , True , 22.45 , "coding"]

In [3]:
c = 33.99

In [6]:
l = [a , b , c]
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'list'>
<class 'float'>

In [7]:
#QUESTION 2

In [8]:
var1 = '  '

In [9]:
type(var1)

str

In [10]:
var2 = '[ DS , ML , Python]'

In [11]:
type(var2)

str

In [1]:
var3 = [ 'DS' , 'ML' , 'Python']

In [2]:
type(var3)

list

In [3]:
var4 = 1

In [4]:
type(var4)

int

In [5]:
#Q3

In [6]:
4/2  # Division operator is used for divison and returns the quotient

2.0

In [7]:
4%2 # Mod operator returns the remainder of the division

0

In [8]:
25//4 #floor divsion rounds off the quotient to the nearest whole number

6

In [9]:
6**2 #power operator multiplies the first argument with itself , number of times the number in second argument.

36

In [11]:
#Q4

In [12]:
list = [2 , 4 , 6 , 8 , 10 , "paree" , '  ' , "pw" , True , 25.9]

In [13]:
for i in list :
    print(i)
    print(type(i))

2
<class 'int'>
4
<class 'int'>
6
<class 'int'>
8
<class 'int'>
10
<class 'int'>
paree
<class 'str'>

<class 'str'>
pw
<class 'str'>
True
<class 'bool'>
25.9
<class 'float'>

In [14]:
#Q5

In [16]:
A = int(input())

 25

In [1]:
A = int(input())
B = int(input())
while A >= 0 | A<0 :
    if A%B == 0 :
        print("the number is divisible completely")
        print("the number of times it is divisble is",B/A)
        break

 44
 3

In [21]:
#Q6

In [2]:
l = [1, 2, 3, 3, 5, 5, 6, 9, 35, 45, 27, 72, 99, 108, 18, 44, 56, 22, 8, 3, 66, 99, 999, 342, 25]

In [3]:
for i in l :
    if i%3 == 0 :
        print("the element " , i , "is divisible by 3")
    print("the element " , i , "is not divisible by 3")

the element  1 is not divisible by 3
the element  2 is not divisible by 3
the element  3 is divisible by 3
the element  3 is not divisible by 3
the element  3 is divisible by 3
the element  3 is not divisible by 3
the element  5 is not divisible by 3
the element  5 is not divisible by 3
the element  6 is divisible by 3
the element  6 is not divisible by 3
the element  9 is divisible by 3
the element  9 is not divisible by 3
the element  35 is not divisible by 3
the element  45 is divisible by 3
the element  45 is not divisible by 3
the element  27 is divisible by 3
the element  27 is not divisible by 3
the element  72 is divisible by 3
the element  72 is not divisible by 3
the element  99 is divisible by 3
the element  99 is not divisible by 3
the element  108 is divisible by 3
the element  108 is not divisible by 3
the element  18 is divisible by 3
the element  18 is not divisible by 3
the element  44 is not divisible by 3
the element  56 is not divisible by 3
the element  22 is not divisible by 3
the element  8 is not divisible by 3
the element  3 is divisible by 3
the element  3 is not divisible by 3
the element  66 is divisible by 3
the element  66 is not divisible by 3
the element  99 is divisible by 3
the element  99 is not divisible by 3
the element  999 is divisible by 3
the element  999 is not divisible by 3
the element  342 is divisible by 3
the element  342 is not divisible by 3
the element  25 is not divisible by 3

In [5]:
#Q7

In [6]:
#Mutable data types are those in which an element stored at an index can be replaced by another element.
#For example - list
l = [1,2,7,9,True,False,22.22,"hello"]

In [8]:
l[6] = 33.33

In [9]:
l

[1, 2, 7, 9, True, False, 33.33, 'hello']

In [10]:
#Immutable data types are those in which an element at an index cannot be replaced by another element.
#For example - string
a = "heelo"

In [11]:
a[2] = "l"

TypeError: 'str' object does not support item assignment

In [ ]:
#Assignment done