A1) We can comment code in python using hash(#) symbol.
eg - #I am learning data science.
There are three types of comments : single line,  multi-line  and docstring comments

A2) Variables in python can be any character/s but not beginning with a special character except underscore(_) which
    is used to store a value.

In [1]:
#Declaring and assigning value to a variable :
a = 25
name = "paree"
l = [2,"hey",9.0,True]

A3) We can convert one data type into another by typecasting it. eg :

In [2]:
a = 23 #integer
a = str(int(a))
a

'23'

A4) We execute a python script by using shift+enter.

In [4]:
## A5)
my_list = [1,2,3,4,5]
my_list = my_list[1:3:1]
print(my_list)

[2, 3]

A6) Complex numbers are the numbers that are expressed in the form of a+ib where, a,b are real numbers and  ‘i’ is an imaginary number called “iota”.eg - 4+6i where '4' is a real number and '6i' is an imaginary number.
It is represented in python in the same way except that there is use of letter 'j' instead of 'i'.

In [5]:
c = 2+3j
type(c)

complex

In [6]:
# A7)
age = 25

In [7]:
## A8)
price = 9.99 #This variable belongs to data type float
type(price)

float

In [10]:
# A9)
name = "Paree Oswal"
print(f"{name}")

Paree Oswal

In [12]:
# A10)
str1 = "Hello, World!"
new_str = str1[6:12]
new_str

' World'

In [16]:
## A11)
is_student = True